body{
    background-color: rgb(224, 216, 166);
    font-family: 'Luckiest Guy';
    background-image: url('../bug.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

canvas{
    background-color: rgb(70, 42, 121);
    height: 640px;
    width: 100%;
}

.fondo_base{
    background-color:white;
}
.card-header{
    background-color:rgb(0, 123, 255);
    color:white
}